.elements {
  max-width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 18px;
  row-gap: 21px;
}

@media screen and (max-width: 885px) {
  .elements {
    justify-content: center;
  }
}