.element__like-button {
  background: url(../../../Images/element__like.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 22px;
  min-height: 22px;
  border: none;
  outline: none;
}
.element__like-button:hover {
  transition: ease-out 0.4s ;
  opacity: 0.6;
  cursor: pointer;
}