.profile__info {
  width: 100%;
  display: flex;
  margin: 0;
  padding-top: 18px;
  flex-direction: column;
}

@media all and (max-width: 750px) {
  .profile__info {
    justify-content: center;
  }
}