@import url(./__copyright/footer__copyright.css);
.footer {
  max-width: 882px;
  color: #545454;
  margin: 66px auto 0;
  padding-bottom: 60px;
  display: flex;
}

@media screen and (max-width: 880px) {
  .footer {
    padding-left: 19px;
    padding-bottom: 36px;
  }
}