.profile__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

@media all and (max-width: 750px) {
  .profile__button {
    margin: 14px 0 0 36px;
    justify-content: center;
  }
}